@tailwind base;
@tailwind components;
@tailwind utilities;

.herobg {
    position: relative;
    height: 87vh;
    width: 100%;
    overflow: hidden; /* Ensures the pseudo-element does not overflow */
}

.herobg::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 101%;
    height: 101%;
    background-image: url(./Components/assets/hero_image.png);
    background-position: center;
    background-size:contain;
    filter: blur(5px); /* Adjust the blur value */
    z-index: -1; /* Ensure it stays behind content */
}

.herobg-content {
    position: relative; /* Keeps content on top of the blurred background */
    z-index: 1;
    /* Add your content styling here */
}
